body {
    background-color: blueviolet;
}
/*제목*/
.top{
    background-color: aqua;
    color: beige;
    text-align: center;
}
/*소개 글*/
.중앙{
    height: 460px;
}
mark{
    background-color: azure;
}
/*목차*/
div mark{
    background-color: brown;
}
.컨텐츠 mark {
    background-color: blanchedalmond;
}
.컨텐츠 ol {
    background-color: coral;
    width: 300px;
}
.컨텐츠 li {
    background-color: darkgreen;
    margin-bottom: 10px;
}
.컨텐츠 li:hover{
    background-color: aquamarine;
    color: aliceblue;
}
.컨텐츠 a:hover{
    color: grey;
}
.이름 table{
    border: 3px solid blue;
}
.이름 table td{
    height: 50px;
    width: 100px;
    border: 3px dotted green;
    background-color: mintcream;
    text-align: center;
}
/*동아리 팀원*/

/*링크이동*/

/*소사캠퍼스*/
.학교 img{
    height: 250px;
    width: auto;

}