body {/*배경설정*/
    background-color: rgb(129, 197, 252);
}
.top{/*제목설정*/
    background-color: rgb(226, 159, 58);
    color: beige;
    text-align: center;
}
mark{/*마크설정*/
    background-color: rgb(199, 107, 241);
}
.중앙{/*소개글 위치 변경*/
    text-align: left;
    font-size: 20px;
    border: 1px rgb(60, 11, 235); /*테두리 영역*/
    position: relative;
    left: 10px;
}
div mark{
    background-color: rgb(14, 214, 74);
}
.컨텐츠 ol {
    background-color: rgb(204, 131, 107);
    width: 300px;
}
.컨텐츠 li {
    background-color: rgb(51, 150, 117);
    margin-bottom: 10px;
}
.컨텐츠 li:hover{
    background-color: rgb(97, 73, 184);
    color: rgb(2, 137, 255);
}
.컨텐츠 a:hover{
    color: grey;
}
.이름 table{
    border: 3px solid blue;
}
.이름 table td{
    height: 50px;
    width: 100px;
    border: 3px dotted rgb(236, 95, 107);
    background-color: rgb(203, 233, 95);
    text-align: center;
}
/*동아리 팀원*/
.팀원 table, td, th {
    height: 50px;
    width: 200px;
    border: 3px solid rgb(124, 226, 226);
    border-collapse: collapse;
    text-align: center;;
}
.팀원 tr:nth-child(odd){
    background-color: azure;
}
/*링크이동*/
a:link{
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
    background-color: darksalmon;
}
/*소사캠퍼스*/
.학교 img{
    height: 250px;
    width: auto;

}

